In [1]:
import os
import shutil
import pandas as pd
import csv

In [2]:
# df = pd.read_csv('result.csv')
df = pd.read_csv('result2.csv')

In [3]:
df.head()

                           TaskID Estimate_label
0  302U8RURJ04D3PI759V2HM1G13KNVM        disgust
1  302U8RURJ04D3PI759V2HM1G13KVNU          angry
2  304QEQWKZQNFS9H33R7QBIBVXHCO0A           fear
3  304QEQWKZQNFS9H33R7QBIBVXHD0ON        disgust
4  306996CF6XNVG4DCV564J3U6VA01BN          happy

In [4]:
csv_file = open("./Batch_4369243_batch_results.csv", "r", encoding="ms932", errors="", newline="" )
f = csv.DictReader(csv_file)
image = []
for task in df['TaskID']:
    for row in f:
        if task == row['HITId']:
            image_url = row['Input.image_url'].split('s1811552/')[1]
            image.append(image_url)
            break

In [5]:
df['image'] = image

In [6]:
df.head(10)

,TaskID,Estimate_label,image
0,302U8RURJ04D3PI759V2HM1G13KNVM,disgust,results/disgust/disgust_27.jpg
1,302U8RURJ04D3PI759V2HM1G13KVNU,angry,results/angry/angry_72.jpg
2,304QEQWKZQNFS9H33R7QBIBVXHCO0A,fear,results/fear/fear_90.jpg
3,304QEQWKZQNFS9H33R7QBIBVXHD0ON,disgust,results/sad/sad_86.jpg
4,306996CF6XNVG4DCV564J3U6VA01BN,happy,results/happy/happy_12.jpg
5,306996CF6XNVG4DCV564J3U6VA0B1X,neutral,results/neutral/neutral_84.jpg
6,306W7JMRYZ1DR4XXUQFJYDHE9G68BE,angry,results/angry/angry_31.jpg
7,306W7JMRYZ1DR4XXUQFJYDHE9G6B8H,neutral,results/sad/sad_64.jpg
8,307FVKVSYSIP6R7556DQCZFDO4J74K,sad,results/sad/sad_36.jpg
9,307L9TDWJZVTRGGOLZPWYR9XAJS3N6,surprise,results/surprise/surprise_32.jpg

In [7]:
sub_dir = ['angry', 'disgust', 'fear', 'happy', 'neutral', 'sad', 'surprise']

result_dir = './data2'
result_subdir = './data2/'
if not os.path.exists(result_dir):
    os.mkdir(result_dir)
    for i in range(len(sub_dir)):
        os.mkdir(result_subdir + '/' + sub_dir[i])

In [8]:
for label, uri in zip(df['Estimate_label'], df['image']):
    image_name = uri.split('/')[2]
    old_dir = './' + uri
    estimated_dir = './data2/' + label + '/' 
    shutil.copyfile(old_dir, estimated_dir+image_name)

In [9]:
for dir_name in sub_dir:
    target_dir = './data2/' + dir_name
    fltr_list = [filename for filename in os.listdir(target_dir) if not filename.startswith('.')]
    print(dir_name, len(fltr_list))

angry 87
disgust 65
fear 74
happy 142
neutral 127
sad 118
surprise 87